
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('images/background2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    padding-top: 2rem; /* Add padding to the top */
    padding-bottom: 2rem; /* Add padding to the bottom */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.info-box {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 3rem;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    min-width: 150px;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
}

h1, h2, h3 {
    font-family: 'Noto Serif Sinhala', serif;
    font-weight: 400;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.25rem;
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 1.0rem;
}

h3 {
    font-size: 1.50rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 1rem 0;
}

.practical-info {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 90%; 
    margin: 0 auto; 
}
.info-labels, .info-details {
    flex: 1;
}

.info-labels {
    text-align: right;
    margin-right: 2.5rem;
}

.info-details {
    margin-left: 0.2rem;
    margin-right: 0.1rem;
    text-align: left;

}

/* Media queries for mobile responsiveness */
@media (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .info-box {
        padding: 2rem;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
